[2019-08-01 06:11] taoqf opened #1 "Will there be a file transport?"
Great lib, thank you for your work.
Maybe we could use [react-native-fs](https://www.npmjs.com/package/react-native-fs), but I just found that 3.0.0 has some issues with java exceptions. So actually I don't know how could we use the `fs` module.

[2019-08-01 07:53] alessandro-bottamedi commented on #1
Do you need to save the logs to a file in order to send it to a server in a second time? in this case we could use, in the transport, the api `appendFile` and then `uploadFiles` of `react-native-fs`. I can do tests.
As an alternative we could use async-storage to save all the logs or do you need the file?

[2019-08-01 09:25] taoqf commented on #1
Thanks.
File, indeed.
Because I would like to see a logfile especially when the app crashed.

[2020-02-10 10:40] samaneh-kamalian commented on #1
I need file too.
will it add to lib?

[2020-02-10 11:11] alessandro-bottamedi commented on #1
@samaneh-kamalian I'm working on it, soon I'll update the repository.

[2020-02-10 11:28] samaneh-kamalian commented on #1
thanks a lot.
so I am going to use your lib and waiting for your update :)

[2020-02-22 22:18] alessandro-bottamedi commented on #1
@samaneh-kamalian @taoqf I finally added the new transport to save the logs to file, it requires react-native-fs. Tomorrow I will release the new version on npm, which also includes some breaking changes.

[2020-02-23 09:21] alessandro-bottamedi commented on #1
I have bublished the new version on NPM so i close this issue.

[2020-02-23 09:21] #1 closed

[2020-04-08 08:36] creambyemute opened #4 "Filename/FilePath for rnFsFileAsync"
Hey there,

What would you think about slightly changing the rnFsFileAsync so that the filename/filepath is providable and not hardcoded?

Example usage:
An App where you can login and want to log per user and not per app.

[2020-04-08 13:15] alessandro-bottamedi commented on #4
Hi, i've just added the possibility to set transports options, as you can see in the docs now you can change the file name for the rnFsFileAsync (the transportOptions.loggerName property).
Abaout the path, in order to maintain the highest compatibility between android and ios for now I have left RNFS.DocumentDirectoryPath as I'm sure it works on all devices.
Did you have any advice to handle the p

[2020-04-08 14:11] creambyemute commented on #4
@alessandro-bottamedi I'd say make the path optional, if provided use that path, otherwise default to RNFS.DocumentDirectoryPath?

For the meantime I created my own customFsLog function which is called by my customLogger
[code]

[code]

We're using DocumentDirectoryPath as well
[code]

I'm fine if you don't add the path as well as it's pretty easy/straightforward to setup a custom fs log as shown

[2020-04-09 07:22] alessandro-bottamedi commented on #4
I added the option to set the path for rnFsFileAsync.
To set the path and filename after "RNFS.DocumentDirectoryPath" we can use the loggerName option.
if someone wants to change the path "RNFS.DocumentDirectoryPath", they can use the loggerPath option.
All TransportOptions are not required to keep the library easy to use.

[2020-04-14 05:39] samaneh-kamalian opened #5 "error in build"
Hi.thank you for your update.
there is problem in line 21 of /react-native-logs/dist/transports/rnFsFileAsync.js file
you must define let RNFS = require('react-native-fs'); and in line 32 you must remove let befor RNFS because you must define this in line befor line 21.

[2020-04-14 11:40] jbreuer95 commented on #5
https://github.com/onubo/react-native-logs/pull/6

[2020-04-14 14:10] #4 closed

[2020-04-14 14:30] alessandro-bottamedi commented on #5
Hi, i've merged your pull thanks

[2020-04-14 14:46] alessandro-bottamedi commented on #5
UPDATE: maybe the require RNFS line must be moved out of transport function? I think the code is cleaner... i make a commit now, can you try it?

[2020-04-15 05:28] samaneh-kamalian commented on #5
Hi. I tested it and it worked well.thanks a lot

On Tue, Apr 14, 2020 at 7:00 PM Alessandro Bottamedi <
notifications@github.com> wrote:

[2020-04-15 06:44] #5 closed

[2020-04-17 06:01] ajaysaini-sgvu commented on #1
@alessandro-bottamedi Do you have working sample code for writing logs into file ?

[2020-04-17 06:53] alessandro-bottamedi commented on #1
@ajaysaini-sgvu
simplest working sample:

1. install [react-native-fs](https://github.com/itinance/react-native-fs).
2. put this code in your app:
[code]
3. well done, if you run the app you can find the log file "myLogsFile.txt" in the document directory of your device/simulator.

PS:
in the [Usage Tips](https://github.com/onubo/react-native-logs#usage-tips) of the readme you can find an example

[2020-04-25 15:47] lbanders opened #7 "Suggestion: Multiple parameters on log()"
Nice and simple framework...  have just added it and like it already :)

I'm though missing the option for console.log where you add multiple params so you could do like:
```log.error('An error occured', error);```

I believe that is more readable that doing:
```log.error(`An error occured ${error}`);```

Would that be a feature worth adding to your nice framework?

[2020-04-25 15:54] lbanders opened #8 "Suggestion: Add create module logger"
It would be nice to create a module logger, so the module name would be part of the log message.

I.e. you would have the base logger initialized with the configuration. From that one you would be able to create a logger for a given module. Something like ```const log = logger.loggerForModule('AuthModule`)``` and then you could do ```log.info('Authenticated user');``` which would give you:
```25/0

[2020-04-30 14:12] alessandro-bottamedi commented on #8
but maybe it's easier to create 2 loggers?
example: `var log = logger.createLogger();` and var `authLog = logger.createLogger();`

[2020-04-30 14:16] alessandro-bottamedi commented on #7
Yes, I would like to implement this feature in the next version. But it cannot affect performance too much. I have to insert a cycle inside the log function...

[2020-05-11 13:28] alessandro-bottamedi commented on #7
i'v added the multiple agruments ability to the log function in v 2.2.0, let me know if you have problem. thanks

[2020-05-11 13:28] #7 closed

[2020-05-12 20:28] pke opened #10 "Support for common console.log multiple args"
In browsers logger implementation one can write:

[code]

which will lead to one line of text output delimited by space, between each arguments `toString()` call result: `foo bar`

This library would output 2 lines of logging at the moment.
Is it to late to change that behaviour?

[2020-05-13 09:04] ajaysaini-sgvu commented on #7
I tried `logger.error('aa', 'b');` , it is displaying logs like below

[code]

[2020-05-13 12:54] alessandro-bottamedi commented on #10
Yes you are right, I am thinking how to implement multiple logs on the same line but leaving the transport logic unchanged. Maybe I can move the argument loop in the transport functions, suggestions?

[2020-05-13 12:54] alessandro-bottamedi commented on #7
see #10

[2020-05-22 21:14] objectiveSee opened #11 "colorConsoleSync not showing colors in VSCode"
Issue: My logs are not colored in VSCod. Instead, they show up with strings describing the colors:

output:
<img width="1142" alt="Screen Shot 2020-05-22 at 2 13 47 PM" src="https://user-images.githubusercontent.com/1684106/82709884-772fa680-9c36-11ea-8e18-2550008e5f05.png">

code:
[code]

I also get the same output when using `consoleSync`

[2020-05-23 14:49] alessandro-bottamedi commented on #11
i've just added `ansiColorConsoleSync` transport for this purpose, try it.

[2020-05-23 14:49] #11 closed

[2020-05-23 14:52] #8 closed

[2020-05-27 19:59] objectiveSee commented on #11
@alessandro-bottamedi I updated to `react-native-logs@2.2.1` but still have the colors being logged out as string instead of being colored. Here's my logger config code and a sample of the logs in VSCode. Any ideas of what to try?

[code]

**VSCode Terminal output**
<img width="806" alt="Screen Shot 2020-05-27 at 12 58 46 PM" src="https://user-images.githubusercontent.com/1684106/83066372-cfd9b780

[2020-05-27 20:00] objectiveSee commented on #11
To clarify, my logs still end in `color: dodgerblue;font-weight:bold` which is added by this module.

[2020-05-27 20:30] alessandro-bottamedi commented on #11
change the second Line to
`import { ansiColorConsoleSync } from 'react-native-logs/dist/transports/ansiColorConsoleSync'; `

[2020-05-27 20:41] objectiveSee commented on #11
Ahh great catch! Thank you so much for your help @alessandro-bottamedi! 🤷‍♂️🎵

[2020-06-08 09:13] tilap opened #12 "Features and improvement suggestions"
Thanks for this logger. It was a missing master piece in the RN ecosystem.

Here are some improvements suggestions I would be happy to have. Idk if I will have time to do some pull request, so I let you my thought here:

- namespacing the loggers: it let us focus on some part of the stack/app
- namespacing children: same as above, but to look deeper.
- context: attaching a persistent context to a

[2020-06-22 20:12] alessandro-bottamedi commented on #12
Thanks for the compliments and for your suggestions, I am evaluating how to implement the future ver 3. For now the features that I want to implement are:

- log namespacing
- better arguments concatenation
- GraphQl adapter
- Firebase adapter

surely I will be inspired by the logger that you recommended for namespacing, thanks!
Any contribution with a pull request is welcome!

[2020-06-22 20:17] alessandro-bottamedi commented on #10
In the ver 3 i will implement a better arguments concatenation, there's still work to be done ;)

[2020-06-22 20:17] #10 closed

[2020-07-11 06:39] MichaelKim39 opened #13 "Unrecognised event output"
![image](https://user-images.githubusercontent.com/32578159/87218330-8b944380-c349-11ea-9ba5-e441a68669ab.png)
I seem to be getting an "unrecognised event" line being output for every log.info I do, I can not find anything online about how to solve this, do you have any advice?

[2020-07-11 06:40] MichaelKim39 commented on #13
The code spawning this issue:
![image](https://user-images.githubusercontent.com/32578159/87218350-b2527a00-c349-11ea-8c64-7f235c6dde4a.png)
![image](https://user-images.githubusercontent.com/32578159/87218355-bbdbe200-c349-11ea-91f8-0c00aeeec3d6.png)

[2020-07-11 07:08] alessandro-bottamedi commented on #13
Hi, this is not an error related to `react-native-logs`, can I know some information about your system? Do you use expo or is it a bare react-native app? do you use redux?

If you use EXPO try to upgrade your expo-cli: `npm install -g expo-cli` and then run your app.

[2020-07-11 08:42] MichaelKim39 commented on #13
Thank you! I realised I was using npm to update expo-cli which was not working as expected, using yarn sorted it!

[2020-07-11 08:45] alessandro-bottamedi commented on #13
You're welcome

[2020-07-11 08:45] #13 closed

[2020-07-11 18:02] himat opened #14 "Global logger?"
Hi, great library.

But instead of having to do in every file:
[code]

is there a way to do:
[code]

It would be way simpler to just import the logger wherever I want instead of having to also create the logger in every file as well.
For example, loguru in python does this and it's great https://github.com/Delgan/loguru#ready-to-use-out-of-the-box-without-boilerplate

[2020-07-11 20:47] alessandro-bottamedi commented on #14
As you can see from the "[Usage Tips](https://github.com/onubo/react-native-logs#global-logger-in-react-native)" section of the documentation you can create a gobal logger as follows:

[code]

[code]

[2020-07-11 20:47] #14 closed

[2020-07-18 10:50] yash-habilelabs opened #16 "Log rotate feature"
Hi
i am using this log package, but i want to use log-rotate with this, which create new file on date change, is there any way how i can achieve.

[2020-07-21 19:47] alessandro-bottamedi commented on #16
Yes, you can use the `loggerName` options with `rnFsFileAsync` transport and pass to it today date, so every day the log file name will change with today date:

[code]

[2020-07-27 07:24] yash-habilelabs commented on #16
Hi
thanks for the help @alessandro-bottamedi . i tried the same with hideDate: false option. it's working only when we open the app every day. not like app is continues open.

[2020-07-27 07:29] alessandro-bottamedi commented on #16
@yash-habilelabs Hi, I did not understand the problem, do you have logs even while the application is closed? or is the date incorrect?

[2020-08-06 14:16] #16 closed

[2020-08-20 00:58] MFrat opened #17 "Unformatted log with iTerm or default macos terminal"
When using iTerm all logs are unformatted.

`%c8/19/2020, 9:48:03 PM | INFO | Unauthenticated, trying to refresh token color: dodgerblue;font-weight:bold`
`%c8/19/2020, 9:48:03 PM | INFO | Requesting new token via refresh token authentication color: dodgerblue;font-weight:bold`

[2020-08-20 07:51] alessandro-bottamedi commented on #17
Have you tried the `ansiColorConsoleSync` transport?

try with this config:

[code]

[2020-09-08 06:40] papadi opened #18 "Support for max file size"
If I'm not mistaken, there is no support for setting the max file size of the log file.
Is there a default one, or will the file grow indefinitely?

[2020-09-08 07:00] alessandro-bottamedi commented on #18
No, for now there is no control on file size, to do this you should create a custom transport that includes fileTransport. But it's a good suggestion, I'll see if I can include this function in the next release.

[2020-11-02 14:49] ca057 commented on #12
Hey @alessandro-bottamedi - having firebase as a transport option would be nice. Is this already in implementation or is this something I could help out with?

[2020-11-02 15:34] alessandro-bottamedi commented on #12
I haven't been able to work on it much in the last period, I plan to spend more time next month, for now my priority is to improve the logs concatenation and namespacing.
So if you have started to write a firebase transport it would be very useful ;)

[2020-11-02 15:44] ca057 commented on #12
Alright, I might be able to look into it the next days and will let you know before I start coding anything to align beforehand :)

[2020-11-25 20:59] dsamojlenko opened #20 "Multiple arguments concatenation"
[In this section of the docs](https://github.com/onubo/react-native-logs#multiple-arguments) it says multiple arguments will be concatenated, but they are actually output on separate lines.

Using the example provided, the logs look like this:
![image](https://user-images.githubusercontent.com/1187115/100280932-f92ac000-2f36-11eb-8ce8-04c8ffce4a0b.png)

Is that the intention? Or should they be con

[2020-11-25 21:21] alessandro-bottamedi commented on #20
for now it works like this but it will be fixed in the next release, sorry for the delay...

[2020-11-28 03:39] gametack commented on #16
very clever. thanks!

[2020-12-03 22:39] chmac opened #21 "Potentially redundant .then()?"
Saw this:

https://github.com/onubo/react-native-logs/blob/913eb01ac550970b659528ae04a80080bce85b4c/src/transports/rnFsFileAsync.ts#L45

I think the `.then()` is redundant? Or maybe it serves some purpose that's not immediately obvious to me?

[2020-12-03 22:45] chmac opened #22 "Open to making the file transport pluggable?"
Firstly, thanks for this logger. I've been searching for a while for something to use in React Native, and this seems to hit a pretty sweet spot!

I'm using expo, and I prefer to avoid the RNFS filesystem package if possible. I wrote a package [expo-fs](https://generouslabs.github.io/expo-fs/) to make isomorphic-git compatible with expo's filesystem. I was looking to write a custom transport for r

[2020-12-04 10:04] chmac opened #23 "Would it make sense to remove dist from git?"
Would it make sense to remove the built javascript dist folder from git? I'm used to TypeScript packages that only check the src folder into git. Maybe there's something I'm missing here?

[2020-12-04 10:22] chmac commented on #22
I forked the repo and started some experiments. On reflection, I don't think this approach makes sense. There's so much formatting and so on in the transport, that I guess it makes more sense to simply create my own transport in my app. I might also publish that as a package, not sure yet.

Expo doesn't have an appendFile, so I'll likely shard the files by date and so on as well.

[2020-12-04 10:22] #22 closed

[2020-12-04 10:22] alessandro-bottamedi commented on #23
Usually I don't include the dist folder either, but leaving it there is convenient for me to publish the package on npm

[2020-12-04 10:23] alessandro-bottamedi commented on #21
Yes I must have left it by mistake, I'll remove it in the next commit thanks

[2020-12-04 10:23] #21 closed

[2020-12-04 10:24] chmac commented on #23
@alessandro-bottamedi Gotcha. Is there a risk that `dist` gets out of date from `src` that way? That is usually my concern with the approach. I tend to put build and publish scripts into `package.json` so that I'm consistent, otherwise I always end up forgetting parts of the process.

[2020-12-04 10:24] chmac commented on #12
Any update on namespacing? This is the big one for me. I'm also wondering if I could somehow hook into the `debug` package and dump its logs in here. I already use it, and it's widely used in other packages, so that might provide a "one size fits all" log strategy, which would also support namespacing... 🤔

[2020-12-04 10:29] alessandro-bottamedi commented on #22
Thanks for the appreciation :), I don't really know how expo-fs works but i think the best idea is to create a new transport, it's the easiest way to do it.

If you create your transport with expo-fs then we can integrate it in the package

[2020-12-04 10:34] chmac commented on #22
@alessandro-bottamedi I tried this approach this morning, just pushed the branch if you want to check it out. The approach worked locally. But the dependency on `expo-file-system` is invisible, which I'm not quite sure about. I guess it would make sense to publish transports which have dependencies as their own packages, so they're tracked separately.

I didn't end up using `expo-fs` as it's just

[2020-12-04 10:36] alessandro-bottamedi commented on #23
@chmac You're right, in fact I have inserted in package.json this little script: `"precommit": "rm -rf dist && tsc && jest --verbose"` but there is the risk of forgetting to run it.

Maybe in the next version I will consider whether to delete dist folder

[2020-12-04 15:01] alessandro-bottamedi commented on #12
@chmac @tilap
Each logger is designed to be independent, it is an object that has inside all the necessary configuration. This is to be able to create multiple loggers with different levels and transports.

The purpose of having namespace logs is to be able to display only the logos of a specific part of the app.

Currently the only way to do this is to create different loggers for different parts

[2020-12-04 17:18] chmac commented on #12
@alessandro-bottamedi I personally would suggest following `debug`, which works like `debug.extend('namespace')`. They can be nested like so:

[code]

I ended up writing my own logger as I wanted to customise the presentation in the log files, etc. I haven't added filtering by severity support yet, but I've already added namespaces. I didn't want to litter my codebase with `log()` calls only to ha

[2021-01-14 11:29] Shahanshah87 opened #24 "How can I save log in file manager (storage) of mobile."
I want to save log file in file manager of my app.
So that I can see my log file in File Manager->android->com.appname->pathToLogFile.txt

What I have tried till now is:-

  `  import React from 'react';
        import { logger } from 'react-native-logs';
         import { consoleSync } from 'react-native-logs/dist/transports/consoleSync';
         import { colorConsoleSync } from 'react-native-lo

[2021-01-14 16:53] alessandro-bottamedi commented on #24
Try to change the loggerPath with ExternalStorageDirectoryPath:

[code]

With this path you should see the file in the File Manager

[2021-01-15 10:33] #24 closed

[2021-01-15 10:33] Shahanshah87 commented on #24
It worked thank you!!!

[2021-01-19 07:29] fuggerstadt1907 opened #25 "log.error shows empty object"
Hi all 👋

I'm facing problems when logging errors in try catch blocks.
Caught and logged errors shows only an empty object 😞

`19/01/2021, 08:23:55 | ERROR | {}`

Any ideas?` console.error(err)` does it right:
`Error: BLE_CONNECTION_ERROR: Cannot convert undefined or null to object`

[2021-01-20 07:15] fuggerstadt1907 commented on #25
Hi @alessandro-bottamedi sure, here is an example

[code]

`log.error('Error while presenting PDF', error)` produces the following log in my console:
[code]
Also irritating, that this is printed in two separate lines 😞

When I chance log.error to console.error the full error is printed properly

The logger is configured as follows
[code]

[2021-01-20 13:25] alessandro-bottamedi commented on #25
I will soon release version 3 which will fix this bug and also concantenation on the same line, for now try using:
[code]

[2021-01-26 16:17] alessandro-bottamedi commented on #25
Fixed in v 3.0.0

[2021-01-26 16:17] #25 closed

[2021-01-26 16:18] alessandro-bottamedi commented on #23
Fixed in v 3.0.0

[2021-01-26 16:18] #23 closed

[2021-01-26 16:18] alessandro-bottamedi commented on #20
Fixed in v 3.0.0

[2021-01-26 16:18] #20 closed

[2021-01-26 16:21] alessandro-bottamedi commented on #12
I've released the new v 3.0.0 with most of above suggestion, i close this issue, open another one issue for future suggestions...

Feedback on the v 3.0.0 are walcome! thanks again!

[2021-01-26 16:21] #12 closed

[2021-01-27 06:42] fuggerstadt1907 commented on #25
thx @alessandro-bottamedi  I'll check out v3 today ✌️

[2021-01-27 15:07] fuggerstadt1907 opened #26 "Error-Log-Level color is green in v 3.0.0"
Hi @alessandro-bottamedi

thx for the new release but unfortunately error loggs are now printed in a green color which doesn't indicates an error on the first look.

![Screenshot 2021-01-27 at 16 06 16](https://user-images.githubusercontent.com/34302057/106010337-9e8a1d80-60b9-11eb-9d0d-97038aaf156d.png)

Screenshots shows transportOptions.color:
1. null
2. ansi
3. web

[2021-01-27 16:20] alessandro-bottamedi commented on #26
Woops, fixed in 3.0.2 ;)

[2021-01-27 16:20] #26 closed

[2021-01-27 16:32] alessandro-bottamedi commented on #26
I will add the possibility to change colors for each level in next release...

[2021-02-01 16:33] mvehar opened #27 "Enable optional formatting / stringify"
https://github.com/onubo/react-native-logs/blob/4ffa72226667ff25b643249e39c418e5a05255e6/src/index.ts#L255

In 3.0.0 transports get already stringified message.

Add config option to disable stringify of message or add an option to provide serializer function for msg.

I know there is rawMsg, but I have problem with JSON.stringify not handling circular dependencies.

[2021-02-02 07:50] alessandro-bottamedi commented on #27
wouldn't adding an option to disable message stringing give the same result as rawMsg? what's the difference? you'd still have the problem of circular dependencies and JSON.stringify...

To solve the problem try passing the rawMsg to a custom stringify function like here::
[print-a-circular-structure](https://stackoverflow.com/questions/11616630/how-can-i-print-a-circular-structure-in-a-json-like-

[2021-02-02 09:03] mvehar commented on #27
True, currently I was handling stringify/transformation in custom transports. I intended to use rawMsg, but embed JSON.stringify like at
https://github.com/onubo/react-native-logs/blob/4ffa72226667ff25b643249e39c418e5a05255e6/src/index.ts#L315

Throws an error before transport is called. I would be good to provide custom stringify function in config and then we can use libs like https://www.npmjs.

[2021-02-04 08:20] alessandro-bottamedi commented on #27
@mvehar Allow custom stringify function in config its not a bad idea, I'll see if I can include it in the next release, thanks!

[2021-02-04 08:20] #27 closed

[2021-02-09 06:52] fuggerstadt1907 opened #28 "Don't stringify objects"
Hey @alessandro-bottamedi

is there a possibility to stop rn-logs to stringify passed objects to the logger?
When it's stringified, I can't expand/collapse the passed object and it's quit confusing at first glance.

Thx in advance 😄

Cheers,
(another) Alessandro

[2021-02-10 07:45] alessandro-bottamedi commented on #28
Hi, you can create your own custom transport, to do the farmatting you want and not stringify the message, using the rawMsg parameter as follows:
[code]

In this way, however, you will not be able to have the logs coloured as they are coloured by the transports.
Remember that the stringified message passed to the transports also allows the concatenation of logs, so if you use multiple messages in

[2021-02-11 12:30] oskfelin opened #29 "Expo file system not supported"
Current Expo/react-native-unimodules FileSystem implementation exports `EncodingType`. fileAsyncTransport is looking for `EncodingTypes` which results in throwing FileSystem not supported error

[2021-02-12 10:59] alessandro-bottamedi commented on #29
i've removed EncodingType reference on fileAsyncTransport, can you test it?

[2021-02-15 13:14] oskfelin commented on #29
Yes, it's fine now. I've already tested it myself before. Thanks!

[2021-02-15 13:28] #29 closed

[2021-02-25 07:52] niklasu opened #30 "Use console.* for consoleTransport"
Right now, consoleTransport prints everything to console.log. In order to use LogBox from react-native, console.warn and console.error have to be used.

[2021-02-25 07:56] alessandro-bottamedi commented on #30
Yes, you are right, the problem is that with this package you have the possibility to create custom log levels, error and warn levels do not necessarily exist. what are your suggestions?

[2021-02-25 08:03] niklasu commented on #30
Thanks for the quick response 👍

A suggestion how this can be implemented: When defining the log levels, also provide information, how the log levels map to console.log/debug/info/warn/error

`levels: {
    everything: {0, m => console.debug(m)},
    information: {1, m => console.info(m)},
    warnings: {0, m => console.warn(m)},
    severe: {0, m => console.error(m)},
  }`

[2021-03-01 17:06] icc-romeu commented on #28
This might be easier, and it could be the default behaviour:

[code]

[2021-03-02 07:37] alessandro-bottamedi commented on #28
it is not possible to colour the output with this method, we have to create a new default transport which does not allow this. To have a simple quick start isn't it more convenient to have a coloured console output as default transport?

[2021-03-02 08:04] icc-romeu commented on #28
I could not get colour at the output -using WebStorm- because we use "console.log" and webStorm so I ended up building my own transport for the colour. 🤷🏻‍♂️

[code]

[2021-03-02 09:42] alessandro-bottamedi commented on #28
Have you tried to change the color transport options to `web` or `ansi`?

`transportOptions: {
    color: "web", // custom option that color consoleTransport logs
  },`

[2021-03-02 09:48] icc-romeu commented on #28
@alessandro-bottamedi Tried, but no luck :( Thanks anyway. It's not clean, but the custom transport does the trick

[2021-03-02 09:52] alessandro-bottamedi commented on #28
@icc-romeu As soon as I have time I will try to use it on the webstorm console and maybe i take a cue from your code to create a webstormTransport, thanks ;)

[2021-03-02 09:52] #28 closed

[2021-03-13 01:55] pke opened #32 "Bug? When the app is running longer than a day will the log file format still be correctly named?"
I stumbled over the `fileName` config setting and it seems its only set during initialisation of the transport.

https://github.com/onubo/react-native-logs/blob/43b4ee5e195b6a1c22c76fcfd5fb3ca433c44710/src/transports/fileAsyncTransport.ts#L58

The means if the app stars one minute before midnight it would log to the wrong file from that moment on. No new file with the correct date will be create u

[2021-03-13 17:47] pke opened #33 "Enable all extensions by default"
Common other logging libs like log4j or slf4j allow to crate namespaced loggers too. However, they always output those loggers by default.

It would greatly increase the workflow if one would not have to manually add each namespaced logger to the config.

Instead how about treating `enabledExtensions` as an include list only if it exists. Otherwise all extensions are enabled by default.

We could

[2021-03-15 07:58] alessandro-bottamedi commented on #33
Actually, your idea is not wrong, it makes much more sense to leave them enabled by default.
Using instead the `debug` way I think is complex especially if we want to maintain the current performance (to use the package well in production).

In the next version I will change enabledExtensions to an inclusive list. Thanks!

[2021-03-15 08:04] alessandro-bottamedi commented on #32
it is indeed as you wrote, if a user opens the app at 23:59 it will continue to use that file until it is restarted.

As you guessed, I didn't want to change the filename every time a log is made to avoid performance issues (although the fileTransport is already heavy so it might not affect performance too much).

Another alternative would be to add a method to dynamically change the transport opt

[2021-03-16 00:41] pke commented on #32
On the desktop java frameworks usually optimise that using cron like syntax and tooling to roll over and package the old log files. It almost costs no perf of course (mostly I/O which runs in a second thread).

I thought about setting a timeout until midnight from current time but RN Android does not support long running timers (and will display a yellow box warning if a timeout is set longer than

[2021-03-18 15:12] pke opened #34 "Allow specifying a colour during logger extension creation"
I'd like to colour my loggers with a specific colour.

Would be helpful if during `extend` one could specify options for each transport like:

[code]

[2021-03-19 17:02] alessandro-bottamedi commented on #34
At the moment it is only possible to colour by level, not by namespace/extension, but this is a function I absolutely must add as soon as possible, you are right...

Like the possibility to choose which colour, I just have to find a way to manage this option since it is the transports that take care of colouring the logs not the library...

[2021-03-19 17:38] pke commented on #34
Maybe like I wrote in the example. One can specify the transporter name and supply options only the transporter understands.
Then console transporter could then colour the level and the message differently if a custom colour was set, otherwise the behaviour stays as it is now

[2021-05-06 22:33] briantical opened #37 "Failed to display colour in console"
Hello, I am using the default example.  I have also reviewed some of the previous issues about displaying colour though I have failed to view the logs in the console in colour. I am also using typescript in my project.

Below is the implementation

[code]

[2021-05-07 07:31] alessandro-bottamedi commented on #37
Hi, which console do you use? for the chrome console try to change the `transportOptions.color` option:

`import { logger, consoleTransport } from "react-native-logs";

const defaultConfig = {
  transportOptions: {
    color: "web",
  },
};

var log = logger.createLogger(defaultConfig);`

[2021-05-07 07:45] briantical commented on #37
I am using terminal

[2021-05-14 10:59] chmac opened #40 "Race conditions with Expo FS"
It occurs to me that if I send 2 log messages at the same time, there will be a race condition here:

https://github.com/onubo/react-native-logs/blob/a49a8d341a4d1c085e1cea25e91c25841a46dfd8/src/transports/fileAsyncTransport.ts#L10-L12

If I have 2 simultaneous writes, they will both read the original file, and they'll both write each having added 1 line, and whichever write succeeds last will ove

[2021-05-14 13:02] alessandro-bottamedi commented on #40
Yes the problem is that, unlike RNFS, Expo Fs does not expose the 'appendFile' method. So, for every log, i need to read the contents of the file and write it in full, this obviously causes the problem you described.

There are two ways to fix it:

1. make the procedure synchronous (but this would cause a lot of performance problems)

2. Rewrite the module to work with a queue, string all write re

[2021-05-14 13:04] alessandro-bottamedi commented on #37
I've tested with terminal (MacOS X Catalina) and I can see all colors without problems with the "ansi" option.
What kind of console do you have on terminal, ZSH?

[2021-05-14 13:12] briantical commented on #37
Yes, i am using zsh

[2021-05-18 08:26] atheck opened #41 "`any` type for dynamic log methods"
Is it possible to not use `any` for dynamic log methods in class `logTyped`? Maybe these methods can be typed like this:

`(...args: unknown []) => void`

[2021-05-24 16:34] alessandro-bottamedi commented on #37
Does anyone else experience the same problem?

[2021-05-26 09:17] chmac commented on #40
@alessandro-bottamedi Yeah, it's a tough one.

I looked a little into RNFS and they have this "append to file" implemented in native code. What about we open a feature request with Expo to add this option? Seems like the code already exists from RNFS so perhaps it's not so much work for Expo to add this option.

Otherwise, I also considered the queue option, and that seems like it adds a lot of co

[2021-05-27 08:00] sunilloharshoreline1 commented on #37
one thing I found is the key name is **colors** not the **color** . when I use ansi, i could see the color, web doesnt seem to work:
transportOptions: {
    colors: "ansi"
  }

[2021-05-27 15:14] GeReV opened #42 "Proposed fix to support configurations with isolateModules"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-logs@3.0.3` for the project I'm working on.

Running `tsc` on my project resulted in the following errors:
[code]

For whatever reason, `tsc` decided to still run its checks on the `react-native-logs/src` folder, despite `node_modules` being excluded

[2021-06-04 08:57] Kirysha commented on #40
@chmac @alessandro-bottamedi Hello, please tell me how you solved this problem

[2021-06-04 13:59] alessandro-bottamedi commented on #40
@chmac I think I was able to create a custom queue for the ExpoFS module to avoid race conditions issues. I could not use existing queue management packages since they all make use of a DB (sql or realm) and are not compatible with expo.
Please try it and let me know if there are any problems.

[2021-06-04 14:05] alessandro-bottamedi commented on #37
Sorry, there was an error in the documentation, the right option is `colors`, set it to `web` for chrome and `ansi` for the terminal. Let me know if the problem persists and I will reopen the issue.

[2021-06-04 14:05] #37 closed

[2021-06-04 14:06] #18 closed

[2021-06-29 12:59] khan-zia opened #44 "Enable and disable config for multiple messages concatenation."
#27 is a bit related but in my use case I would like to disable the default concatenation when I pass multiple messages to the log functions. This is because I don't want my main log message to be cluttered with stringified stuff and I would like to handle my other passed messages in a custom way already.

I can still access additional objects via the `rawMsg` prop but my main message is still clu

[2021-07-08 16:42] bcteam2020 opened #45 "Sentrytransport Error"
Sentrytransport causing the below error
**Error**
TaskQueue: Error with task : t.options.SENTRY.captureException is not a function. (In 't.options.SENTRY.captureException(t.msg)', 't.options.SENTRY.captureException' is undefined)

_App is getting crashed on open and above error is seen in Sentry._

**Configuration**
Expo managed workflow SDK 40
sentry expo package 4.0.1
react native loggers
**Conf

[2021-07-08 17:08] alessandro-bottamedi commented on #45
Sentry expo package seems to work a little differently, you can try this config:

[code]

[2021-07-13 17:24] bcteam2020 commented on #45
Thanks, This is working

[2021-07-13 17:24] #45 closed

[2021-07-16 10:08] maidinhkhoa92 opened #46 "Send sentry logs"
In my project, I create a util call log. Here is content.

[code]

In my app.tsx, I import log and try my first error log but it doesn't work:

[code]

Can anyone help me to push my first log?

[2021-07-16 17:13] alessandro-bottamedi commented on #46
have you configured Sentry correctly?

you should have something like that in your app index file before send logs:

[code]

[2021-07-19 03:09] maidinhkhoa92 commented on #46
Thanks @alessandro-bottamedi I will try and let you know.

[2021-07-19 03:23] maidinhkhoa92 commented on #46
@alessandro-bottamedi it doesn't work. Here is my code

[code]

app.tsx
[code]

[2021-07-19 20:06] alessandro-bottamedi commented on #46
Se lanci direttamente l'errore a SENTRY funziona?

[code]

[2021-07-20 02:10] maidinhkhoa92 commented on #46
@alessandro-bottamedi yes, it works with direct throwing.

[2021-07-20 17:13] alessandro-bottamedi commented on #46
No, do you have the last version?

try to put this lines in the `index.js` file, the very first file you load:
[code]

[2021-10-20 05:31] yehyaumar opened #49 "Doesn't print line number or file name"
When logging, it doesn't show the line number or file name of the log. Instead it shows this
`consoleTransport.js:40`
when logging.
How to print the line number and file name with this logger?

[2021-10-20 20:52] pke commented on #33
@alessandro-bottamedi is this already in the current version?

[2021-10-20 20:57] pke opened #50 "`transport` could accept also array of functions"
When transport would accept an array of functions multiple transports could be supported out of the box.

[2021-11-08 16:26] alutz33 opened #51 "Ansi Color Options"
Should be able to select the correct color per level. Right now the color is selected based on the severity of the level. However those severity colors don't make sense once you get past 4 (red-error). If I want my error level to be 10 the color is green, which doesn't make any visual sense.

[2021-11-18 17:54] mat2718 commented on #33
@pke i've been messing with for the last three days. you still have to enable the extension after you declare it.

[2021-11-19 08:38] alessandro-bottamedi commented on #33
Sorry for the delay, I have been busy at work, I will update you in the next few days on the progress

[2021-12-26 18:10] #40 closed

[2021-12-26 18:58] #46 closed

[2021-12-26 18:58] alessandro-bottamedi commented on #46
Feel free to re-open if necessary

[2021-12-26 22:05] alessandro-bottamedi commented on #41
Creating a standard type for the whole logger class without knowing the log level names first is complex.
However if you wanted to have a better typed log function you could create your own type and assign it to the logger object:

[code]

[2022-01-04 21:20] alessandro-bottamedi commented on #30
Implemented the new mapConsoleTransport in v 4.0.0 with the possibility to choose the preferred console method.

[2022-01-04 21:20] #30 closed

[2022-01-04 21:22] alessandro-bottamedi commented on #33
Since v 4.0.0 the extension system has been reversed, now if they are not set in the config, the logger will show them all.

[2022-01-04 21:22] #33 closed

[2022-01-04 21:23] alessandro-bottamedi commented on #34
From v 4.0.0 in the consoleTransport it is possible to choose the color of the log levels and also the colors of the extensions.

[2022-01-04 21:23] #34 closed

[2022-01-04 21:24] alessandro-bottamedi commented on #42
Fixed in v 4.0.0 thanks

[2022-01-04 21:24] #42 closed

[2022-01-04 21:25] alessandro-bottamedi commented on #51
From v 4.0.0 it is possible to choose the color of the log levels and also the colors of the extensions.

[2022-01-04 21:25] #51 closed

[2022-01-12 18:22] turbomonkey opened #52 "Disable method is not working for extensions"
I tried to use the disable method on an extension but cannot get it to work. It just disables all logging. Could you please provide an example? Thanks!
[code]

[2022-01-13 14:32] Shirsendu-Sarkar opened #53 "limit file size"
if file exceeds 1mb make a new file dump new logs there and make that file name as latest if no of files exceed more than 5 delete oldest file is this possible with this library?

[2022-01-15 10:23] alessandro-bottamedi commented on #52
Sorry, I'll fix this in the next few days

[2022-01-15 10:25] alessandro-bottamedi commented on #53
For now the fileTransport does not allow it, I mark it as a new feature to be added in the near future

[2022-01-15 16:52] alessandro-bottamedi commented on #52
Fixed in ver 4.0.1, see the example in the README.

[2022-01-15 16:52] #52 closed

[2022-02-18 07:13] atheck commented on #41
Thanks for your reply @alessandro-bottamedi. This is a good solution.

[2022-02-18 07:13] #41 closed

[2022-02-19 12:56] pke commented on #32
Is this fixed with the newest release? Is the filename function called on every log now as the readme example suggest?
If so you could close this issue ;)

[2022-02-19 12:57] pke commented on #34
Thanks, great work!
I think I will add the option to generate a random colour for my loggers, that don't specify a colour.

[2022-02-19 13:13] pke commented on #33
Hurray thanks for implementing that!

[2022-02-19 13:16] pke opened #54 "Support RGB colours (similar to chalk)?"
Would it be possible to support RGB colours for the console transport?

I think it should be possible with the help of https://github.com/chalk/ansi-styles

and a colour could be created like `styles.color.ansi16m(100,0,0)`

[2022-02-19 13:18] pke opened #55 "TransportOptions typings"
Do you think it would be possible to improve the typings for configs so that by specifying which transport the config is the config for via template argument the transportOptions could be typed?

[code]

[2022-02-19 16:30] pke opened #56 "Colour support for mapConsoleTransport or map support for consoleTransport"
I recently wrote a test and wondered why my expectation that the `logger.error` would call `console.error` eventually did not work.
Then I found out that consoleTransport uses `console.log` always and that to mimic console output traditionally one would have to use ` mapConsoleTransport`

Now I have 2 questions:

1. Why is `consoleTransport` using only `console.log`?
2. Why isn't `mapConsoleTransp

[2022-04-08 16:34] trajano opened #59 "Allow passing in a `console` for `consoleTransporter`"
I want to avoid changing a lot of the existing code so I want to remap the console.log to your transport but because you're logging using `console.log` it will get as expected a stack overflow.  Can you provide a way of passing a "original" console if we saved it.

[2022-04-08 16:49] trajano commented on #59
At the moment I did this

[code]

[2022-04-08 18:52] trajano opened #60 "String substitutions do not work"
[Using string substitutions](https://developer.mozilla.org/en-US/docs/Web/API/console#using_string_substitutions) being passed to the log does not work on consoleTransport

I presume it's because you're assembling the message and sending it out as one string.

[2022-05-04 06:51] pke opened #61 "monkey patch console?"
Does anything speak against monkey-patching all console logging relevant methods by say, calling a `logger.install()` function?

This way one would not even have to import a logger into each module but it would simply work for all code using console.info etc?

[2022-05-04 06:53] pke commented on #54
@alessandro-bottamedi what do you think, should that be possible?

[2022-05-04 07:04] pke commented on #49
I am not sure this is possible. The console reader prints the line the log statement was issued and that should be a problem for all JS logging solutions.
And even if there would be a way to specify the source file and line number, one would have to still find this out. Since you have no source information at runtime accessible one would have to create a temp exception, catch it, inspect its calls

[2022-05-04 19:05] alessandro-bottamedi commented on #61
Indeed, this change could solve a large part of the current problems. however it is a little different from the original idea of ​​this package. let me think a bit.

[2022-05-05 21:15] orome opened #62 "Align level (and feature) names in output"
It would be great if there was an option to left align messages when level printing is enabled. As it is the different lengths of level names results in jagged and hard to read output when different levels are interleaved.

(Feature printing can easily be aligned by just choosing fixed length features, but having the same for fathers would be nice too).

[2022-05-06 14:49] orome opened #63 "No output produced after expo upgrade (to 45)"
After expo upgrade (to 45) no logging appears using either console.log or a package like react-native-logs. Even explicitly enabling logging with
[code]
produces no output.

[2022-05-13 03:03] Hadwz commented on #53
I also face the same problem. Finally, I added a new `FileAsyncTransport` and used [react-native-file-logger](https://github.com/BeTomorrow/react-native-file-logger)  to solve this problem

[code]

Hope this can help you @Shirsendu-Sarkar

The library(react-native-file-logger) could be used as a reference for the new feature ? @alessandro-bottamedi

[2022-06-01 17:02] brandon93s opened #64 "Hermes Engine `dateFormat` support"
### Overview
Hermes [currently supports](https://github.com/facebook/hermes/blob/main/doc/IntlAPIs.md) `toLocaleTimeString` and `toLocaleString` on Android **only**.  As a result, `time` is often the wrong timezone and the format of the date for `local` may be incorrect on iOS.

https://github.com/onubo/react-native-logs/blob/9dfc362ec7a18885f9ad4844f69ac63e877086e2/src/index.ts#L295-L303

### Pro

[2022-06-29 08:44] alessandro-bottamedi commented on #44
I can't understand why rawMsg is not sufficient, can you give me an example of your use case?

[2022-06-29 17:21] khan-zia commented on #44
I don't fully remember everything as it's been exactly one year but I think the problem was related to taking complete control over how the final message that gets sent to the logs is formatted. This will allow developers to have one central logger interface. This interface/class will have let's say a log method that accepts an object aka `rawMsg` and based on what values inside the raw message ha

[2022-06-30 09:18] alessandro-bottamedi commented on #32
Fixed in v 5.0.0, you che use `date-today` as fileName to create a new file every day.

[2022-06-30 09:18] #32 closed

[2022-06-30 09:19] alessandro-bottamedi commented on #50
Added in v 5.0.0

[2022-06-30 09:19] #50 closed

[2022-06-30 09:19] alessandro-bottamedi commented on #59
Added in v 5.0.0

[2022-06-30 09:19] #59 closed

[2022-06-30 09:20] alessandro-bottamedi commented on #64
Added in v 5.0.0

[2022-06-30 09:20] #64 closed

[2022-06-30 10:01] alessandro-bottamedi commented on #63
This issue its not related to react-native-logs, maybe it should be reported to expo, were you able to solve?

[2022-06-30 10:01] #63 closed

[2022-06-30 10:01] alessandro-bottamedi commented on #61
Added a patchConsole experimental method in v 5.0.0

[2022-06-30 10:01] #61 closed

[2022-06-30 13:10] alessandro-bottamedi commented on #44
Okay I get it, basically you would like to have both the ability to use rawMsg and the ability to disable message formatting to use both systems together. This change is not related to transports so it would probably involve several breaking changes, for now I have added the ability to set in configuration a custom function for message stringify, we will evaluate other changes in the future. Thank

[2022-06-30 13:10] #44 closed

[2022-06-30 13:33] alessandro-bottamedi commented on #49
Even doing the bind to console or try to parse an error stack, react-native creates a js bundle that makes it impossible to trace back to the right file and line number. We need to work on source-maps, as I believe expo logs do. for now I'll leave the issue open until a fairly simple solution is found.

[2022-06-30 13:34] #53 closed, assigned to nobody

[2022-06-30 13:47] alessandro-bottamedi commented on #55
In v 5.0.0 I used this solution to type the levels, I believe they are the most important. I will also include typing for transportOptions soon.

[2022-06-30 13:47] #55 closed

[2022-06-30 13:49] alessandro-bottamedi commented on #60
Yes, the only way to get the string subtitution to work is to create a custom transport and process the rawMsg...  perhaps you could create a customTransport that directly calls console.log without processing the message.

[2022-06-30 13:52] alessandro-bottamedi commented on #56
Some consoles (e.g. chrome's) color the output according to the method used (console.warn, console.error, etc...) so I opted to create a separate transport without the colors...

[2022-06-30 14:02] khan-zia commented on #44
Thanks for the update. Yeah, that was pretty much it. For e.g. Some developers might want to format the timestamp that's concatenated to the log message differently. Some developers might want to change the position of the timestamp (which if I remember correctly always appears at the beginning). So in summary, the formatting of the log message should have a default that's not enforced otherwise.

[2022-06-30 15:54] radiodario opened #65 "Any reason why logType isn't exported?"
I'm writing a class with its own custom logger instance and using typescript I can't make a logger instance a typed property / member of the class correctly - since `logTyped` isn't exported:

[code]

Typescript complains here - Am I using the wrong approach? I want to have a long lived class that initialises a logger which writes to a new file each time, but that is initialised several times duri

[2022-06-30 15:57] radiodario commented on #65
answered my own question:

[code]

[2022-07-04 09:23] KrSerg opened #66 "fileAsyncTransport() error"
Hi guys!

Noticed error in **_fileAsyncTransport_** function. If I won't use 'date-today' option in fileName - log file will be always named as 'log'.

Seems like you have an error in line 93:
`} else if (props?.options?.fileName) props.options.fileName;`

should be changed to:
`} else if (props?.options?.fileName) fileName  = props.options.fileName;`

[2022-07-04 11:33] alessandro-bottamedi commented on #66
Good idea! fixed in v 5.0.1, now you can insert in the file name `{date-today}` and and it will be replaced with today's date, example: `fileName: 'my_app_v1.0_{date-today}_qa.log'`.

fileName fixed too, thanks @KrSerg.

[2022-07-04 11:33] #66 closed

[2022-07-04 11:40] KrSerg commented on #66
@alessandro-bottamedi, thanks for such a quick fix! 👍

[2022-07-04 15:48] dmytro-ivonin commented on #66
works as expected. thanks!

[2022-07-29 03:17] Vietvantue commented on #4
Two options to customize file and folder  are: **fileName** and **filePath** not **loggerPath**

[2022-09-02 14:11] charlesmchen-replit opened #67 "Suggested improvements to fileAsyncTransport."
Hi there @alessandro-bottamedi, thanks for making `react-native-logs`.

I'd like to offer a few suggestions for future improvements.  They all apply to `fileAsyncTransport`.

* Option to auto-create log directories, if missing.  e.g. if app wants to log to `${documentsDirectory}/logs}`, that "logs" subdirectory might be missing when app is first installed. Perhaps a `createDirectories` field in th

[2022-09-02 15:13] charlesmchen-replit commented on #67
It might be nice to add a means to flush logs to disk.

[2022-10-10 22:33] CDBridger commented on #16
Any chance we can rotate logs based on file size too? e.g once file size hits >50mb rotate to a new file?

[2022-11-29 00:40] pke opened #69 "Bug: function type log arguments are printed as `null`"
This cost me more than an hour of debugging now.

[code]

will log `null` which is confusing. It should log `function` or the functions name.

[2022-11-29 12:52] alessandro-bottamedi commented on #69
You are right, in my opinion it should print an empty object:"{}" printing null or the name of the object could be confusing....

[2022-11-29 14:28] pke commented on #69
`console.log` prints the type (and name): `function name()`